Source: piphoned
Maintainer: Marvin Gülker <quintus@quintilianus.eu>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), cmake

Package: piphoned
Architecture: any
Depends: libc6, ${misc:Depends}, libcurl3
Description: Piphoned SIP daemon
 SIP client daemon for a hardware phone based on the Raspberry Pi.
 This package needs linphone in a far more recent version than
 Debian Wheezy has available. It also depends on wiringPi, which
 is not in the Wheezy repos at all.
