# piphoned.conf
# Configuration file for the piphoned daemon.
#
# This is an example configuration file; you should adapt it so
# that it suits your local needs.

[General]

# The target user and group for privilege dropping.
uid = telefon
gid = telefon

# The group we have to be a member of in order to use sound devices
# at all. On many systems this is 'audio'. If your system does
# not have such a group, just leave it set as 'audio'; it will only
# result in a warning message to the syslog.
audiogroup = audio

# Where to write the PID to.
pidfile = /var/run/piphoned.pid

# This defines the pin where interrupts related to hangup are
# expected (the lever on top of the phone). The value is a
# pin number as understood by the wiringPi library (virtual
# wiringPi number, not broadcom or bare metal numbers); see
# http://wiringpi.com/pins/.
hangup_pin = 4

# Pin used for checking when dialing starts.
dial_action_pin = 0

# Pin used for receiving the actual dialed digits.
dial_count_pin = 1

# Domain appended to the bare numbers dialed. @ is automatically
# prepended to the domain.
auto_domain = your-sipprovider-domain.invalid

# You may set this to 'stun' to indicate use of a STUN server.
# In that case, you have to uncomment the 'stunserver' option
# below as well.
firewall_policy = no

# If your 'firewall_policy' is 'stun', set this to the domain
# of the STUN server you want to use.
#stunserver = stun.linphone.org

# Define the ALSA devices to use for executing a call.
# You can find these names with the `piphoned-soundcards'
# program.
ring_sound_device = linphone_device_name
playback_sound_device = linphone_device_name
capture_sound_device = linphone_device_name

# Log file for calls.
phonelog = /var/log/phone.log

# Where to store the ZRTP trans-session data, i.e. the data that is reused
# in consecutive ZRTP sessions to prevent MITM attacks as far as possible.
zrtp_secrets_file = /var/lib/misc/zrtp.secrets

# Example provider section. Adapt to your needs.
[YourProvider]

# User name used for authentication at the provider.
username = yourusername
# Password used for authentication.
password = yourpassword
# This is what the other party of the call sees when you
# call it.
displayname = John Doe
# Name of the SIP server to connect to.
server = yoursipprovider.invalid
# Authentication realm. This is what the SIP server sends on
# an authentication query; it is usually identical to the domain.
realm = yoursipprovider.invalid
# Whether to issue a PUBLISH command after REGISTER. Some SIP
# servers need that.
publish = yes
